// TODO organize & modularize CSS
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Nunito|Quicksand');

@media screen and (max-width: 768px)  {
  .thumbnail {
    display: none;
  }
}
@media screen and (max-width: 412px)  {
  #top-header {
    margin: 0px;
    padding: 0px;
  }
  #welcome-uterus {
    order: -1;
  }
  .welcome-flex {
    flex-direction: column;
  }
  .tri-right.right-in:after{
    display: none;
  }
  .first-line, .second-line {
    margin-left: 10px;
  }
}

@media screen and (min-width: 1000px)  {
  .news-wrapper {
    margin-left: 440px;
  }
}

.welcome-flex {
  display: flex;
}


:root {
  --light-bg-color: rgb(250, 250, 250);
  --dark-bg-color: rgb(243, 243, 243);
  --section-header: rgb(38, 83, 165);
  --section-subhead: rgb(30, 30, 30);
  --body-color: rgb(50, 50, 50);
  --red-cta: rgb(219, 87, 88);
  --blue-cta: rgb(49, 105, 209);
  --light-blue-accent: rgb(215, 230, 253);
  --social-icons: rgb(70,70,70);
  --social-icon-hover: rgb(49,105, 209);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  color: var(--body-color);
}

p, blockquote {
  font-family: 'Nunito', sans-serif;
  color: var(--body-color);
}

.section-header {
  color: var(--section-header);
  font-weight: bold;
}

#logo {
  display: inline;
  height: 100px;
  margin: 0 auto;
}
a {
  color: var(--section-header) !important;
}
#top-header {
  background-color: var(--light-bg-color);
}
.uterus {
  z-index: 1;
}

/* CSS talk bubble */
.talk-bubble {
  margin: 40px;
  display: inline-block;
  position: relative;
  height: auto;
  background-color: var(--light-blue-accent);
  bottom: 0;
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;

}
.tri-right.right-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 120px;
  bottom: auto;
  border: 12px solid;
  border-color: var(--light-blue-accent) transparent transparent var(--light-blue-accent);
}

.first-line {
  margin-right: 110px;
}
.talktext{
  padding: 2em;
  text-align: left;
  line-height: 1.5em;
}
.talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

img.down-arrow {
  max-height: 50px;
}

#ready-debate {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#logo, #app-name {
  display: inline-block;
}

#right-caret {
  display: inline;
  margin-left: 5px;
  height:100px;
}
.container-fluid {
  text-align: center;
  padding-top: 50px;
  min-width: 100vw;
}

.fa {
  color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

section {
  min-height: 100vh;
}

#topper {
  background-color: var(--light-bg-color);
  color: black;
}

.stance {
  margin-bottom: 50px;
}

#debate {
  background-color: var(--dark-bg-color);
}

.line-break {
  display: block;
}

.blurb {
  border: 1px solid black;
  background-color: white;
  margin: 20px;
}
.blurbTitle {
  display: block;
  cursor: pointer;
}

.blurbContent {
  overflow: hidden;
  -webkit-transition: height 0.3s ease-in;
  -moz-transition: height 0.3s ease-in;
  -o-transition: height 0.3s ease-in;
  -ms-transition: height 0.3s ease-in;
  transition: height 0.3s ease-in;
}

#stances {
  background-color: var(--light-bg-color);
}
a:focus, a:hover {
    text-decoration: none !important;
}

.red-call, .read-more {
  color: var(--red-cta) !important;
}

.article-headline, .ready {
  color: var(--section-header);
}

#recent-news {
  background-color: var(--dark-bg-color);
  height: 80vh !important;
}

.article-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.news-articles {
  list-style: none;
}

input {
  text-align: center;
  border: 2px solid;
  padding: 13px 12px;
  font-size: 16px;
  outline: none;
  margin-bottom: 20px;
  display: block;
}

ul {
  margin-left: 20px;
  text-align: left;
}

footer {
  background-color: var(--section-subhead) !important;
  color: var(--dark-bg-color) !important;
  padding: 0px !important;
}

#footer-logo {
  max-height: 100px;
}

.scrollable {
  max-height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
}

.scrollable::-webkit-scrollbar {
    width: 1em;
}

.scrollable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--light-blue-accent);
    border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: var(--section-header);
  outline: 1px solid var(--light-blue-accent);
  border-radius: 10px;
}

.thumbnail {
  border-radius: 10px;
  margin-top: 20px;
  max-width: 90px;
  max-height: 90px;
}


footer p {
  margin-bottom: 2em;
}